<div class="home">
    <!-- <h1 class="intro">{{ 'intro' | translate }}</h1>
    <h1 class="intro">{{'proj_name' | translate}}</h1>
    <h3 class="short_desc"><span translate>slogan</span></h3>
    <ng-template swiperSlide>
        <div class="category-card"></div>
    </ng-template> -->
    <!-- <p><a
            href="https://docs.google.com/document/d/1NdB3SdAbKSFcPooap-ddpHdQQxBDvAieH2bPF4NCLMU/edit?usp=sharing"
            target="_blank"
            class="btn btn-primary"
        >{{'view_detail_doc_btn' | translate}}</a>
    </p> -->
</div>
<video
    id="videoBkg"
    poster="https://www.sicontis.com/codepen/cpc-spacing/ski.png"
    preload
    autoplay
    muted
    loop
>
    <source
        src="https://www.sicontis.com/codepen/cpc-spacing/skiing.mp4"
        type="video/mp4"
    >
</video>

<div class="hero-section">
    <h1>eat.</h1>
    <h1>sleep.</h1>
    <h1>ski.</h1>
    <h1>repeat.</h1>
    <p>Need we say more? <br>Come to <strong>Queenstown</strong> and have the time of your life.</p>

    <button>Buy now</button>
</div>

<div class="menu-section">
    <p>Queenstown<span>Life</span></p>
    <ul>
        <li>About</li>
        <li>Deals</li>
        <li>Blog</li>
        <li>Contact</li>
    </ul>
</div>
